@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    animation: fadein 1s;
  }

  .movein {
    animation: movein 1s;
  }

  @keyframes fadein {
    from {
      opacity: 0.5;
    }

    to {
      opacity: 1;
    }
  }


  @keyframes movein {
    from {
      translate: translate(0px, -20px);
    }

    to {
      opacity: translate(0px, 0px);
    }
  }

  .hero-image {
    background-image: url("/hero-bg.jpg");
    background-size: 100% 1500px;
    background-repeat: no-repeat;
    width: 100vw;
  }

  .hero-image-2 {
    background-image: url("/hero-bg-2.webp");
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
  }

  .hero-image-4 {
    background-image: url("/hero-bg-2.webp");
    background-size: 100% 600px;
    background-repeat: no-repeat;
    width: 100vw;
    height: 600px;
  }

  .hero-image-3 {
    background-image: url("/hero-bg-2.jpg");
    width: 100%;
  }

  .applicant-bg {
    background-image: url("/applicant-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
  }

  .applicant-bg-2 {
    background-image: url("/applicant-bg-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
  }


  .landing-bg {
    background-image: url("/l-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
  }

  .gradient-bg {
    background-image: url("/gradient-p1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
  }

  .gradient-bg-2 {
    background-image: url("/gradient-p2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
  }
  .gradient-bg-3 {
    background-image: url("/gradient-p3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
  }

  .company-bg-2 {
    background-image: url("/company-bg-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
  }

  .gradient-bt {
    background: linear-gradient(90deg,#cc00004d,#ff74374d,#ffe86d4d,#5bdcf94d,#2e73fc4d,#000aff4d);
  }
}
